<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit
      ></app-shopping-edit>
    <hr>

   
      <ul class="list-group">
        <a
          class="list-group-item"
          style="cursor: pointer"
          *ngFor="let ingredient of ingredients;let i=index"
          (click)="onEdit(i)"
        >
        <div class="row">
          <div class="col-sm-11">
          {{ ingredient.name }} ({{ ingredient.amount }})
        </div>
        <div class="col-sm-1">
          <button class="btn btn-danger" type="button" (click)="onDelete(i)">X</button>
       
     </div>

      </div>
        </a>
      </ul>
     </div>
     
</div>
